<!DOCTYPE html>
<html>
  <head>
    <title>Fivelet</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  	<div id="custom-bootstrap-menu" class="navbar navbar-fixed-top " role="navigation" style="background-color:#9CC2FF; border-bottom: 1px solid; border-color: #70A7FD; color: #fff !important">
    <div class="container-fluid">
       <div class="navbar-header"><a class="navbar-brand" href="/" style="color: #fff !important  text-transform: uppercase;">Fivelet</a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-menubuilder"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse navbar-menubuilder">
            <ul class="nav navbar-nav navbar-left"> 
                <li>
                    <% if user_signed_in? %>
                      <li>
                      <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
                       </li>
                      <% else %>
                       <li>
                     <%= link_to('Login', new_user_session_path)  %>  
                      </li>
                      <li>
                     <%= link_to('Sign Up', new_user_registration_path)  %>  
                      </li>
                      <% end %>
                </li>
            </ul>
        </div>
    </div>
	</div>
  <body>
     <div class="container">
    <%= render 'layouts/messages' %>
    <%= yield %>
  </div>
  </body>
</html>
